/* Estilos para la pantalla negra y resultado en estilo LCD */
@font-face {
    font-family: 'DS-Digital';
    src: url(/static/font/DS-DIGI.TTF);
}
body {
    background-color: black !important;
    /*background-image: url(/static/img/bg3.png);*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.fondoNe{
    background-color: black !important;
}

.fondoNa{
    background-color: orange !important;
}

.fuenteNa{
    color: orange!important;
}
.tr{
    /*background-color: rgba(255,255,255,0.5) !important*/
    background-color: transparent !important;
}
.dropdown-menu .dropdown-item:hover {
    background-color: black; 
    color: orange; 
}

#convertidorTipo {
    
    color: #F08D33;
} 
#typeValueTxt {
    color: #F08D33;
}

#result-screen {
    font-family: 'DS-Digital', sans-serif;
    font-size: 2em;
    background-color: black;
    color: orange;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    overflow: auto;
}

.title-res{
    font-family: 'DS-Digital', sans-serif;
    font-size: 2em;
    background-color: black;
    color: orange;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}




#convertButton {
    background-color: #F08D33;
    border-color: #F08D33;
    color: #fff;
    border-radius: 10;
    cursor: initial !important;
}



/* Ajustes de estilo para el formulario */
#converter-form {
    max-width: 400px;
    margin: 0 auto;
}

/* Puedes agregar más estilos según tus preferencias */

/* Estilo de scrollbar */

.scrollbar {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #FFA07A #f8f9fa;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    opacity: 0.1;
}

#moonIcon{
    color: #FFA07A;
}

#sunIcon{
    color: #FFA07A;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #FFA07A !important;
    border-color: white !important;
    background-color: #FFA07A !important;
}






body.light-mode {
    background-color: #f8f9fa !important;
}

body.light-mode .fondoNe{
    background-color: #f8f9fa !important;
}

body.light-mode .fondoNa{
    background-color: #FFA07A !important;
}

body.light-mode .fuenteNa{
    color: #FFA07A!important;
}

body.light-mode .tr{
    background-color: #f8f9fa !important;
}

body.light-mode .dropdown-menu .dropdown-item:hover {
    background-color: white; 
    color: #F08D33;
}

body.light-mode #result-screen {
    background-color: #f8f9fa;
    color: black
}

body.light-mode .title-res{
    background-color: #f8f9fa;
    color: #FFA07A;
}

body.light-mode #convertButton {
    background-color: #FFA07A;
    border-color: black;
    color: #f8f9fa;
}

body.light-mode .scrollbar::-webkit-scrollbar {
    width: 12px;
    opacity: 0.1;
}

body.light-mode #moonIcon{
    color: #FFA07A;
}

body.light-mode #sunIcon{
    color: black;
}

body.light-mode #convertidorTipo {
    color: black;
}

body.light-mode #typeValueTxt {
    color: black;
}





